%h1 Edit Page Attachment
- form_for :page_attachment, @page_attachment, :url => admin_page_attachment_path(@page_attachment), :html => {:method => :put, :multipart => true} do |form|
  .form-area
    %p.title
      = form.label :title
      = form.text_field :title, :class => 'textbox', :maxlength => 255
    %p.title
      = form.label :description
      = form.text_field :description, :class => 'textbox', :maxlength => 255
    %p
      Attached to Page:
      - page = @page_attachment.page
      = link_to page.title, edit_admin_page_path(page)
  %p.buttons
    = form.submit "Save"
    or
    = link_to 'Cancel', admin_page_attachments_url
  %p
    - if @page_attachment.filename.match(/(jpg|gif|png|jpeg)$/)
      = image_tag(@page_attachment.public_filename)
    - else
      = link_to @page_attachment.short_filename, @page_attachment.public_filename