- include_stylesheet 'admin/page_attachments'
- include_javascript 'admin/page_attachments'
#attachments
  .outset
    %table.index
      %tr
        %th Image
        %th Description
        %th Page
        %th Copy/Paste
      - unless @attachments.blank?
        - @attachments.each do |attachment|
          - page = attachment.page
          %tr
            %td
              - link_text = attachment.title.blank? ? attachment.filename : attachment.title
              = link_to(link_text, edit_admin_page_attachment_path(attachment), :title => 'Edit this image')
              = link_to("(view)", attachment.public_filename, :title => attachment.filename)
            %td= attachment.description
            %td= link_to page.title, edit_admin_page_url(page), :title => page.url
            %td
              = sample_attachment_code(attachment)
    = will_paginate @attachments

    #switch_layout
      %p
        = link_to('Grid View', admin_page_attachments_grid_path)