- include_stylesheet 'admin/page_attachments'
- @body_classes = ["reversed"]
%h1 Page Attachments
.outset
  %table.index
    %tr
      %th Title
      %th Description
      %th File Name
      %th Page
      %th Copy/Paste
    - unless @attachments.blank?
      - @attachments.each do |attachment|
        %tr
          %td
            = link_to((attachment.title.blank? ? 'add one...' : attachment.title), edit_admin_page_attachment_path(attachment))
          %td= attachment.description
          %td= link_to(attachment.filename, attachment.public_filename)
          %td= link_to attachment.page.title, edit_admin_page_url(attachment.page)
          %td
            = sample_attachment_code(attachment)
  = will_paginate @attachments, :param_name => 'p'

  #switch_layout
    %p
      = link_to('Grid view', admin_page_attachments_grid_path)
