/ %p
/   Try the 
/   = link_to('Grid view', admin_page_attachments_grid_path)
.outset
  %table.index
    %tr
      %th Name
      %th Title
      %th Page
      %th Code
    - unless @attachments.blank?
      - @attachments.each do |attachment|
        %tr
          %td
            = link_to(attachment.filename, edit_admin_page_attachment_path(attachment))
            = link_to('(view)', attachment.public_filename)
          %td= attachment.title
          %td= link_to attachment.page.title, page_edit_url(attachment.page)
          %td
            = sample_attachment_code(attachment)
  = will_paginate @attachments